<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VideoVibe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai&amp;display=swap">
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.3.0/dist/jdenticon.min.js" async
        integrity="sha384-LfouGM03m83ArVtne1JPk926e3SGD0Tz8XHtW2OKGsgeBU/UfR0Fa8eX+UlwSSAZ" crossorigin="anonymous">
    </script>
</head>

<body style="font-family: Almarai, sans-serif;">
    <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-camera-video">
                        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z"></path>
                    </svg></span><span>VideoVibe</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/new">New</a></li>
                    <li class="nav-item"><a class="nav-link" href="/trending">Trending</a></li>
                </ul>
                {% if logged_in != None: %}
                    <svg data-jdenticon-value="{{logged_in["username"]}}" width="35" height="35" style="margin-left: 10px;background-color: black;"></svg>
                {% else %}
                    <a class="btn btn-primary ms-md-2" role="button" href="/login" style="background: var(--bs-blue);width: 80.0375px;">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center m-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div style="width: 100%;">
                        <h2 class="text-uppercase fw-bold mb-3">Find Your Vibe with VideoVibe</h2>
                        <p class="mb-4">Find a video below that you vibe with, search for one that you want, or upload your own!</p><a class="btn btn-primary fs-5 me-2 py-2 px-4" role="button" href="/search"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                            </svg></a><a class="btn btn-primary fs-5 me-2 py-2 px-4" role="button" href="/upload"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-upload">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-top: 20px;">
        <h3>Today's Most Viewed</h3>
        <div class="row gy-1 text-nowrap" style="overflow: scroll;overflow-y: auto;">
            <div class="col">
                <div class="card" style="width: 30%;display: inline-block;margin-right: 5px;margin-left: 5px;">
                    <div class="card-body" style="border-radius: 6px;">
                        <img alt="" style="width: 100%;height: auto;border-radius: 10px;" src="" onerror="this.onerror=null;this.src='/static/img/1280x720_Placeholder.png';">
                        <h4 class="card-title" style="margin-top: 5px;">Video Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Channel Name</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <h3>Today's Most Liked</h3>
        <div class="row gy-1 text-nowrap" style="overflow: scroll;overflow-y: auto;">
            <div class="col">
                <div class="card" style="width: 30%;display: inline-block;margin-right: 5px;margin-left: 5px;">
                    <div class="card-body" style="border-radius: 6px;">
                        <img alt="" style="width: 100%;height: auto;border-radius: 10px;" src="" onerror="this.onerror=null;this.src='/static/img/1280x720_Placeholder.png';">
                        <h4 class="card-title" style="margin-top: 5px;">Video Title</h4>
                        <h6 class="text-muted card-subtitle mb-2">Channel Name</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    window.jdenticon_config = {
            lightness: {
                color: [0.35, 1.00],
                grayscale: [0.33, 1.00]
            },
            saturation: {
                color: 1.00,
                grayscale: 1.00
            },
            backColor: "#000"
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>